@model IEnumerable<AvaliacaoDesempenho.Models.Curso>

@{
    ViewData["Title"] = "Lista de Cursos";
}

<h1>Lista de Cursos</h1>

<p>
    <a class="btn btn-outline-primary" asp-action="Create">Novo Curso</a>
</p>
<p>
    <a class="btn btn-outline-success" asp-action="GerarPDF">Gerar PDF</a>
</p>
<table id="tabela" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nivel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nivel)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Codigo">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Codigo">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Codigo">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>



