@model IEnumerable<AvaliacaoDesempenho.Models.Matricula>

@{
    ViewData["Title"] = "Lista de Matrículas - PDF";
}
<p>
    <button class="btn btn-outline-success" onclick="salvarPDF()">Salvar PDF</button>
</p>
<div id="pdfContent">
    <img src="~/imagens/Etec.png" class="rounded mx-auto d-block" alt="Logotipo Etec Taubaté">
    <h1 class="text-center">@ViewBag.Title</h1>
    @if (Model != null)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.EmailInst)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ControleAvaliacao)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Usuario)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Turma)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmailInst)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ControleAvaliacao)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Usuario.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Turma.Nome)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
@section Scripts {
    <script src="https://rawgit.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.0/jspdf.umd.min.js" crossorigin="anonymous"></script>
    <script>
        function salvarPDF() {
            var element = document.getElementById('pdfContent');
            var opt = {
                margin: 1,
                filename: 'Matriculas.pdf',
                html2canvas: { scale: 1 },
                jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
            };

            // New Promise-based usage:
            html2pdf().from(element).set(opt).save();
        }
    </script>
}