@model IEnumerable<AvaliacaoDesempenho.Models.AppRole>

@{
    ViewData["Title"] = "Inicio - Perfil";
}

<h1>Inicio - Lista Perfil</h1>

<p>
    <a class="btn btn-outline-primary" asp-action="Create">Novo Perfil</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NormalizedName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConcurrencyStamp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NormalizedName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConcurrencyStamp)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
