@model IEnumerable<AvaliacaoDesempenho.Models.Turma>

@{
    ViewData["Title"] = "Lista das Turmas";
}

<h1>Lista das Turmas</h1>

<p>
    <a class="btn btn-outline-primary" asp-action="Create">Nova Turma</a>
</p>
<p>
    <a target="_blank" class="btn btn-outline-success" asp-action="GerarPDF">Gerar PDF</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th class="d-none d-lg-table-cell">
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Curso)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td class="d-none d-lg-table-cell">
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Curso.Nome)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Codigo">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Codigo">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Codigo">Excluir</a> |
                    <a asp-controller="Disci_Turma" asp-action="Index" asp-route-id="@item.Codigo">Disciplinas</a>
                </td>
            </tr>
        }
    </tbody>
</table>

