@model IEnumerable<AvaliacaoDesempenho.Models.Questionario>

@{
    ViewData["Title"] = "Lista do Questinonário";
}

<h1>Lista do Questionário</h1>

<p>
    <a class="btn btn-outline-primary" asp-action="Create">Nova Questão</a>
</p>
<p>
    <a target="_blank" class="btn btn-outline-success" asp-action="GerarPDF">Gerar PDF</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Codigo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Codigo">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Codigo">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Codigo">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
